<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Artist Lounge</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<!-- Your file css -->
		<link rel="stylesheet" href="style.css" />
		 <script src="https://kit.fontawesome.com/d3cfcd7d11.js" crossorigin="anonymous"></script>

</head>
<body>
  <div class="container">


      </div>

      <div class="row">


          <div class="col-sm-6">
        
            <ul class="messages">

            </ul>


  </div>

  <nav class=container>
		<a class="navbar-brand font-weight-bolder mr-3" href="index.html"></a>
		<div class="collapse navbar-collapse" id="navbarsDefault">
			<ul class="navbar-nav mr-auto align-items-center">

			</ul>
			<ul class="toplinks">
				<li class="nav-item">
				<a class="nav-link active" href="index.html">Home</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="post.html">My Posts</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="author.html"><span class="align-middle">Profile Name</span></a>
				</li>
				<li class="nav-item dropdown">

				</li>
			</ul>



        </div>
    </nav>
    <main role="main">


    <div class="mt-4 mb-5">
    <div class="container mb-4">
    	<h1 class="title">The Artist Lounge</h1>
    	<div class="row">
    		<nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
    		<span class="navbar-toggler-icon"></span>
    		</button>
    			<ul class="navbar-nav">
    				<li class="nav-item">
    				<a class="newset" href="#">Home</a>
    				</li>
    				<li class="nav-item">
    				<a class="newset" href="/profile">My Feed</a>
    				</li>
					<li class="nav-item">
						<a class="newset" href="/map">Map</a>
						</li>
    				<li class="nav-item">
    				<a class="newset" href="#">Influences</a>
    				</li>
    				<li class="nav-item">
    				<a class="newset" href="#">Influential Artists</a>
    				</li>
    				<li class="nav-item dropdown">
    				<!-- <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
    				<div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
    					<a class="dropdown-item" href="#">Black Studies</a>
    					<a class="dropdown-item" href="#">Contemporary Artists</a>
						<a class="dropdown-item" href="#">Resources</a>

    				</div> -->
    				</li>


    			</ul>
    		</div>
    		</nav>
    	</div>
    </div>
    <!-- <div class="row"> -->





		<div class="column" id="boxshadow">
	       <section class="boxshadow">
			   <% for(var i=0; i<posts.length; i++) {%>
              <li class="message">
                <a  href="/post/<%= posts[i]._id %>">
                  <!-- <h4><%= posts[i].caption %></h4> -->

                  <a class="hide" href="/page/<%= posts[i].postedBy %>"> <%= posts[i].postedBy %></a>
                </a>

				<section class="middle">
					<div class="card-mb-3" style="max-width: 550px;" id="contains">
					<div class="row no-gutters">
						<div class="col-md-4">
						<img src="data:image/<%=posts[i].img.contentType%>;base64,
						<%=posts[i].img.data.toString('base64')%>" class="card-img" alt="..." id="img">
						</div>
						<div class="col-md-8">
						<div class="card-body">
							<i data-id="<%=posts[i]._id%>" class="fas fa-bookmark"></i>
							<h5 class="card-title"><%= posts[i].caption %></h5>
							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
							
							
							
						</div>
						</div>
					</div>
					</div>
				</section>





                <!-- <% if (user.local.email) { %>
                  <form action="/post/comments/<%= posts[i]._id %>" method="POST">
                    <input type="text" placeholder="comment" name="comment">
                    <button type="submit">Submit</button>
                  </form>
                <% } %>

                <ul>
                  <% const currentPost = posts[i]%>
                  <% for(var j=0; j<currentPost.comments.length; j++) {%>
                  <li class="comments">
                    <span><%=currentPost.comments[j].comment%></span>
                  </li>

                <% } %>
                </ul> -->

              </li>

            <% } %>
		  </section>
		</div>
		  <a href="/logout" class="btn btn-default btn-sm">Logout</a>











<script src="main.js"></script>

</body>
</html>