<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Artist Lounge</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

		<!-- Your file css -->
		<link rel="stylesheet" href="style.css" />
		 <script src="https://kit.fontawesome.com/d3cfcd7d11.js" crossorigin="anonymous"></script>

</head>
<body>
	<section class="border"

		<div class="container">
			
			<div class="glow" id="move">The Artist Lounge</div>
			<p class="virgil">"This resource was born as I was working to summarize answers to all my most frequently asked questions. The goal of this resource is to uplift more than a few. I will continue to open doors for those that come from the fringe and help them be awarded opportunities usually left for the center." -Virgil Abloh</p>
		</div>
			<div class="scanlines"></div>
		</div>
	</section>

  <div class="container">



      </div>

      <div class="row">


          <div class="col-sm-6">
        
            <ul class="messages">

            </ul>


  </div>

  <nav class=container>
		<a class="navbar-brand font-weight-bolder mr-3" href="index.html"></a>
		<div class="collapse navbar-collapse" id="navbarsDefault">
			<ul class="navbar-nav mr-auto align-items-center">

			</ul>
			<ul class="toplinks">
				<li class="nav-item">
				<a class="nav-link active" href="index.html">Home</a>

				</li>
				<li class="nav-item">
				<a class="nav-link" href="post.html">My Posts</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="author.html"><span class="align-middle">Profile Name</span></a>
				</li>
				
				<li class="nav-item dropdown">

				</li>
			</ul>



        </div>
    </nav>
    <main role="main">

	

    <div class="mt-4 mb-5">
    <div class="container mb-4">
    	<div class="row">
    		<nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
    		</button>
    			<ul class="navbar-nav">
					<div id="app">
							<div id="wrapper">
							<li class="nav-item">
							<a class="newset"  href=/feed><i class="fas fa-home"></i></a>
							
							</li>
							<li class="nav-item">
							<a class="newset" href="/profile"><i class="fas fa-camera-retro"></i></a>
							</li>
							<li class="nav-item">
								<a class="newset" href="/map"><i class="fas fa-map-marker-alt"></i></i></a>
								
							</li>
							<li class="nav-item">
								<img id="logo" src="logo.png">
								
							</li>
							<li class="nav-item">
								<a href="/logout" class="logout">Logout</a>
							</li>

							</li>
							<li class="nav-item dropdown">
							<!-- <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
							<div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="#">Black Studies</a>
								<a class="dropdown-item" href="#">Contemporary Artists</a>
								<a class="dropdown-item" href="#">Resources</a>

							</div> -->
							</li>
						</div>
					</div>

    			</ul>
    		</div>
    		</nav>
    	</div>
    </div>

		


	
	<div class="column" id="boxshadow">
		
		<section class="boxshadow">

			<% for(var i=0; i<posts.length; i++) {%>

				
		   <li class="message">

			
			 <a  href="/post/<%= posts[i]._id %>">
			   <!-- <h4><%= posts[i].caption %></h4> -->
			   <a class="hide" href="/page/<%= posts[i].postedBy %>"> <%= posts[i].postedBy %></a>
			 </a>
			 <section class="middle">

				
				 <div class="card-mb-3" style="max-width: 550px;" id="contains">
				 <div class="row no-gutters">
					 <div class="col-md-4">
					 <img src="data:image/<%=posts[i].img.contentType%>;base64,
					 <%=posts[i].img.data.toString('base64')%>" class="card-img" alt="..." id="img">
					 </div>
					 <div class="col-md-8">
					 <div class="card-body">
						 <i data-id="<%=posts[i]._id%>" class="fas fa-bookmark"></i>
						 <i class="fas fa-heart"></i> <span class="like"><%= posts[i].likes %></span>
						 <h5 class="card-title"><%= posts[i].caption %></h5>
						 <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						 
						 
						 
					 </div>
					 </div>
				 </div>
				 </div>
			 </section>
			
		   </li>
		 <% } %>
	   </section>
	 </div>
	   






<script src="main.js"></script>

</body>
</html>